# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os


# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Store csv created in part one into a DataFrame
city_df = pd.read_csv("data/city_df.csv")
city_df.head()

,City,Lat,Lng,Humidity,Cloudiness,Wind Speed,Country,Date,Max Temp
0,Mataura,-46.19,168.86,80,31,7.60,NZ,1607837305,53.006
1,Hobart,-42.88,147.33,41,75,7.20,AU,1607837120,78.998
2,Kruisfontein,-34.00,24.73,93,20,1.92,ZA,1607837307,62.006
3,Lüderitz,-26.65,15.16,82,0,2.60,NaN,1607837320,57.200
4,Albany,42.60,-73.97,89,100,2.23,US,1607837308,50.000

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of humidity
locations = city_df[["Lat", "Lng"]]
humidity = city_df["Humidity"]
figure_layout = {'width': '800px',
                'height': '400px',
                'border':'1px solid black',
                'padding': '1px'}
fig = gmaps.figure(layout = figure_layout, center = (46.0,-5.0), zoom_level = 2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', padding='1px', width='800px'))

In [5]:
city_df.head(100)

,City,Lat,Lng,Humidity,Cloudiness,Wind Speed,Country,Date,Max Temp
0,Mataura,-46.19,168.86,80,31,7.60,NZ,1607837305,53.006
1,Hobart,-42.88,147.33,41,75,7.20,AU,1607837120,78.998
2,Kruisfontein,-34.00,24.73,93,20,1.92,ZA,1607837307,62.006
3,Lüderitz,-26.65,15.16,82,0,2.60,NaN,1607837320,57.200
4,Albany,42.60,-73.97,89,100,2.23,US,1607837308,50.000
...,...,...,...,...,...,...,...,...,...
95,Soubre,5.79,-6.61,98,30,1.00,CI,1607837603,71.528
96,Saint Lawrence,36.06,14.20,82,20,7.20,MT,1607837603,57.992
97,Esperance,-33.87,121.90,51,40,9.30,AU,1607837340,80.600
98,Neuquén,-38.95,-68.06,54,0,4.10,AR,1607837327,55.400
99,Kapaa,22.08,-159.32,74,40,5.10,US,1607837142,78.800

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
perfect_df = city_df[(city_df['Max Temp'] > 70) & (city_df['Max Temp'] < 80)]
perfect_df = perfect_df[perfect_df['Wind Speed'] < 10]
perfect_df = perfect_df[perfect_df['Cloudiness'] <= 0]
hotel_df = perfect_df.dropna()
hotel_df

,City,Lat,Lng,Humidity,Cloudiness,Wind Speed,Country,Date,Max Temp
61,Roura,4.73,-52.33,100,0,1.00,GF,1607837598,73.400
64,Departamento de Maldonado,-34.67,-54.92,94,0,1.50,UY,1607837598,71.006
118,Salalah,17.02,54.09,25,0,6.20,OM,1607837343,75.200
134,Alenquer,-1.94,-54.74,94,0,1.50,BR,1607837559,77.000
213,Cayenne,4.93,-52.33,100,0,1.00,GF,1607837343,73.400
216,Diplo,24.47,69.58,24,0,5.89,PK,1607837621,75.596
263,Boussé,12.66,-1.89,35,0,1.50,BF,1607837627,71.600
296,Cidreira,-30.18,-50.21,79,0,3.76,BR,1607837309,72.734
300,Várzea Grande,-15.65,-56.13,74,0,3.10,BR,1607837633,78.800
359,San Fernando del Valle de Catamarca,-28.47,-65.79,42,0,3.22,AR,1607837380,79.592
362,Gulariyā,28.23,81.33,27,0,4.60,NP,1607837642,77.198
377,Vikārābād,17.33,77.90,61,0,2.60,IN,1607837645,78.800
500,Jiwani,25.05,61.74,29,0,2.77,PK,1607837664,70.304
535,Cockburn Town,21.46,-71.14,80,0,9.01,TC,1607837316,79.016
539,Vila do Maio,15.13,-23.22,83,0,4.60,CV,1607837348,71.600

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# make a dataframe to store useful columns
hotel_df = hotel_df.loc[:,['City', 'Country', 'Lat', 'Lng']]
# include a hotel column
hotel_df['Hotel Name'] = ""
hotel_df

                                    City Country    Lat    Lng Hotel Name
61                                 Roura      GF   4.73 -52.33
64             Departamento de Maldonado      UY -34.67 -54.92
118                              Salalah      OM  17.02  54.09
134                             Alenquer      BR  -1.94 -54.74
213                              Cayenne      GF   4.93 -52.33
216                                Diplo      PK  24.47  69.58
263                               Boussé      BF  12.66  -1.89
296                             Cidreira      BR -30.18 -50.21
300                        Várzea Grande      BR -15.65 -56.13
359  San Fernando del Valle de Catamarca      AR -28.47 -65.79
362                             Gulariyā      NP  28.23  81.33
377                            Vikārābād      IN  17.33  77.90
500                               Jiwani      PK  25.05  61.74
535                        Cockburn Town      TC  21.46 -71.14
539                         Vila do Maio      CV  15.13 -23.22

In [8]:
# find the first hotel for each city located within 5000 meters of your coordinates.
for index, row in hotel_df.iterrows():
    try:
        
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

        params = {
        "keyword": "hotel",
        "radius": 5000,
        "key": g_key,
        }

        lat = row['Lat']
        lng = row['Lng']

        params['location'] = f"{lat}, {lng}"

        hotel_data = requests.get(base_url, params=params).json()
        
        hotel_df.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]
        
    except IndexError:
        
        hotel_df.loc[index, "Hotel Name"] = "NaN"
# Hotel names added, but need to get rid of NAN value       
hotel_df

,City,Country,Lat,Lng,Hotel Name
61,Roura,GF,4.73,-52.33,Rour'Attitude
64,Departamento de Maldonado,UY,-34.67,-54.92,NaN
118,Salalah,OM,17.02,54.09,Al Dyafa Hotel Suites
134,Alenquer,BR,-1.94,-54.74,Detinha Hotel
213,Cayenne,GF,4.93,-52.33,Royal Amazonia
216,Diplo,PK,24.47,69.58,NBP
263,Boussé,BF,12.66,-1.89,NaN
296,Cidreira,BR,-30.18,-50.21,Hotel Castelo
300,Várzea Grande,BR,-15.65,-56.13,Hits Pantanal Hotel
359,San Fernando del Valle de Catamarca,AR,-28.47,-65.79,Amerian Catamarca Park Hotel
362,Gulariyā,NP,28.23,81.33,NaN
377,Vikārābād,IN,17.33,77.90,Hills & Valley Adventure Resort
500,Jiwani,PK,25.05,61.74,Victoria Hut
535,Cockburn Town,TC,21.46,-71.14,Osprey Beach Hotel
539,Vila do Maio,CV,15.13,-23.22,Bela Vista Maio Beach

In [9]:
# getting rid of hotels with NAN value
hotel_df.drop(hotel_df.index[hotel_df['Hotel Name'] == 'NaN'], inplace = True)
hotel_df

,City,Country,Lat,Lng,Hotel Name
61,Roura,GF,4.73,-52.33,Rour'Attitude
118,Salalah,OM,17.02,54.09,Al Dyafa Hotel Suites
134,Alenquer,BR,-1.94,-54.74,Detinha Hotel
213,Cayenne,GF,4.93,-52.33,Royal Amazonia
216,Diplo,PK,24.47,69.58,NBP
296,Cidreira,BR,-30.18,-50.21,Hotel Castelo
300,Várzea Grande,BR,-15.65,-56.13,Hits Pantanal Hotel
359,San Fernando del Valle de Catamarca,AR,-28.47,-65.79,Amerian Catamarca Park Hotel
377,Vikārābād,IN,17.33,77.90,Hills & Valley Adventure Resort
500,Jiwani,PK,25.05,61.74,Victoria Hut
535,Cockburn Town,TC,21.46,-71.14,Osprey Beach Hotel
539,Vila do Maio,CV,15.13,-23.22,Bela Vista Maio Beach

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add marker layer to map
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', padding='1px', width='800px'))